<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name="E2E.Selenium.listeners.ExtentReporter"/>
<listener class-name="E2E.Selenium.listeners.TestListener"/>
<listener class-name="E2E.Selenium.listeners.AnnotationTransformer"/>
</listeners>

  <test thread-count="5" name="Test">
    <classes>
      <class name="E2E.Selenium.testScripts.homePageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
